{{ form_start(form) }}
<div class="row">
    {% if not form.vars.valid %}
        <div class="col-xs-122 col-sm-122 col-md-122 col-lg-122">
            <div class="alert alert-dangeralert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                <strong>Ups!</strong> please check form and submit again
            </div>
        </div>
    {% endif %}
</div>
<div class="row">
    <div class="col">
        {{ form_label(form.published) }}
        {{ form_errors(form.published) }}
        {{ form_widget(form.published) }}
    </div>
    <div class="col">
        {{ form_label(form.updated) }}
        {{ form_errors(form.updated) }}
        {{ form_widget(form.updated) }}
    </div>
    <div class="col">
        {{ form_label(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
    </div>
    <div class="col">
        {{ form_label(form.slug) }}
        {{ form_errors(form.slug) }}
        {{ form_widget(form.slug) }}
    </div>
    <div class="col">
        {{ form_label(form.language) }}
        {{ form_errors(form.language) }}
        {{ form_widget(form.language) }}
    </div>
    <div class="col">
        {{ form_label(form.castList) }}
        {{ form_errors(form.castList) }}
        {{ form_widget(form.castList) }}
    </div>
    <div class="col">
        {{ form_label(form.director) }}
        {{ form_errors(form.director) }}
        {{ form_widget(form.director) }}
    </div>
    <div class="col">
        {{ form_label(form.composer) }}
        {{ form_errors(form.composer) }}
        {{ form_widget(form.composer) }}
    </div>
    <div class="col">
        {{ form_label(form.producer) }}
        {{ form_errors(form.producer) }}
        {{ form_widget(form.producer) }}
    </div>
    <div class="col">
        {{ form_label(form.writer) }}
        {{ form_errors(form.writer) }}
        {{ form_widget(form.writer) }}
    </div>
    <div class="col">
        {{ form_label(form.genre) }}
        {{ form_errors(form.genre) }}
        {{ form_widget(form.genre) }}
    </div>
    <div class="col">
        {{ form_label(form.poster) }}
        {{ form_errors(form.poster) }}
        {{ form_widget(form.poster) }}
    </div>
    <div class="col">
        {{ form_label(form.releaseInfo) }}
        {{ form_errors(form.releaseInfo) }}
        {{ form_widget(form.releaseInfo) }}
    </div>
    <div class="col">
        {{ form_label(form.trailer) }}
        {{ form_errors(form.trailer) }}
        {{ form_widget(form.trailer) }}
    </div>
    <div class="col">
        {{ form_label(form.score) }}
        {{ form_errors(form.score) }}
        {{ form_widget(form.score) }}
    </div>
    <div class="col">
        {{ form_label(form.year) }}
        {{ form_errors(form.year) }}
        {{ form_widget(form.year) }}
    </div>
    <div class="col">
        {{ form_label(form.country) }}
        {{ form_errors(form.country) }}
        {{ form_widget(form.country) }}
    </div>
    <div class="col">
        {{ form_label(form.imdbId) }}
        {{ form_errors(form.imdbId) }}
        {{ form_widget(form.imdbId) }}
    </div>
    <div class="col">
        {{ form_label(form.duration) }}
        {{ form_errors(form.duration) }}
        {{ form_widget(form.duration) }}
    </div>
</div>
<div class="row mt-4">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{ form_widget(form.save) }}
        <a href="{{ path('administrator_default_dashboard') }}" class="btn btn-info">Back to dashboard</a>
    </div>
{{ form_end(form) }}