{% extends 'backend.html.twig' %}
{% block mainBodyTitle %}Dashboard{% endblock %}
{% block mainBodySubtitle %}{% endblock %}
{% block mainBodySection %}
{% include ('AdministratorBundle:Movies:_form.html.twig') %}
{% endblock %}