{% extends 'backend.html.twig' %}
{% block mainBodyTitle %}Dashboard{% endblock %}
{% block mainBodySubtitle %}{% endblock %}
{% block mainBodySection %}
{% include ':common:_table.html.twig' %}
{% endblock %}