{% extends 'backend.html.twig' %}
{% block mainBodyTitle %}Dashboard{% endblock %}
{% block mainBodySubtitle %}{% endblock %}
{% block mainBodySection %}
    <div class="col-6">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-film" aria-hidden="true"></i> Movies</h4>
                <h6 class="card-subtitle mb-2 text-muted">Imports and management</h6>
                <p class="card-text"></p>
                <a href="{{ path('importer_movie', {'type': 'movie'}) }}" class="card-link">Latest Searches on site</a>
                <a href="{{ path('backend_movielist') }}" class="card-link">Manage movies</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-film" aria-hidden="true"></i> Movies</h4>
                <h6 class="card-subtitle mb-2 text-muted">Imports and management</h6>
                <p class="card-text"></p>
                <a href="{{ path('importer_movie', {'type': 'movie'}) }}" class="card-link">Latest Searches on site</a>
                <a href="#" class="card-link">Manage movies</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-film" aria-hidden="true"></i> Movies</h4>
                <h6 class="card-subtitle mb-2 text-muted">Imports and management</h6>
                <p class="card-text"></p>
                <a href="#" class="card-link">Latest Searches on site</a>
                <a href="#" class="card-link">Manage movies</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title"><i class="fa fa-film" aria-hidden="true"></i> Movies</h4>
                <h6 class="card-subtitle mb-2 text-muted">Imports and management</h6>
                <p class="card-text"></p>
                <a href="#" class="card-link">Latest Searches on site</a>
                <a href="#" class="card-link">Manage movies</a>
            </div>
        </div>
    </div>
{% endblock %}