{% if app.user == null %}
<a href="{{ path('security_login') }}" class="btn btn-info">Please log in to see content</a>
{% else %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/final.css') }}">
    <meta name=”robots” content=”noindex”>
    <script src="{{ asset('js/final.js') }}" type="application/javascript"></script>
</head>
<body>
{% block topNavbar %}
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Navbar</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
{% endblock %}
<div class="col-12">
    <div class="row">
        <div class="col-2">
            {% block sideNavbar %}
                <div class="sideNabar">
                    <nav class="navbar navbar-inverse">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Active</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Disabled</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            {% endblock %}
        </div>
        <div class="col-10">
            {% block mainBody %}
                <div class="col-12">
                    <h1 class="h1">
                        {% block mainBodyTitle %}Main Body Title{% endblock %}
                        <small>{% block mainBodySubtitle %}Main Body Subtitle{% endblock %}</small>
                    </h1>
                </div>

                <main class="mainBody row">

                    {% block mainBodySection %}
                        <section></section>
                    {% endblock %}
                </main>
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
{% endif %}