<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}ListAndMovies{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta name=”robots” content=”noindex”>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/final.css?v=')~random(9999) }}">
</head>
<body>
<div class="bg">
    <div class="bg-filter">
        {% block topNavbar %}
            <nav class="navbar navbar-inverse bg-inverse navbar-expand-lg">
                <a class="navbar-brand" href="{{ path('frontend_index') }}">ListAndMovies</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('frontend_index') }}">Search<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    {{ render(controller('FrontendBundle:Search:searchTemplate')) }}
                </div>
            </nav>
        {% endblock %}
        {% block searchbar %}
        {% endblock %}
        <div class="container bg-custom">
            <div class="row {{ page|default('p-movie') }}">
                {% block mainBody %}
                {% endblock %}
            </div>
        </div>


        {% block footer %}
            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3>Tops</h3>
                            <ul>
                                <li>Top films</li>
                                <li>Top Genres</li>
                                <li>Top cast</li>
                                <li>Top Directors</li>
                                <li>Top Writers</li>
                                <li>Top Producers</li>
                                <li>Top Composers</li>
                            </ul>
                        </div>
                        <div class="col">
                            <h3>Terms and Conditions</h3>
                            <p>
                                <small>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in
                                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </small>
                            </p>
                        </div>
                        <div class="col">
                            <h3>Social Networks</h3>
                            <ul>
                                <li>Facebook</li>
                                <li>Twitter</li>
                                <li>Instagram</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
        <script src="{{ asset('js/final.js?v=')~random(9999) }}" type="application/javascript"></script>
        <script type="application/javascript">

        </script>
    </div>
</div>
</body>
</html>
