<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Login{% endblock %} | Elab wizard</title>
    {% block stylesheets %}
        <link href={{ asset("css/final.css") }} rel="stylesheet">
    {% endblock %}
    <meta name=”robots” content=”noindex”>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="{% block bodyClass %}login{% endblock %}">
{% block main %}
    <main class="loginContainer">
        <div class="mainBody">
            {% block mainBody %}{% endblock %}
        </div>
    </main>
{% endblock %}
{% block scripts %}
    <script src="{{ asset("js/final.js") }}"></script>
{% endblock %}
</body>
</html>