{% extends '::frontend.html.twig' %}
{% block topNavbar %}
    {{ parent() }}
    <style>
        div.bg:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            z-index: -1;
            display: block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50px;
            background-image: url("/images/screenshot/movie/{{ screenshot }}.jpg");
            will-change: opacity;
            transition: filter 1s;
            height: 640px;
        }
    </style>
{% endblock %}
{% block mainBody %}
    <article class="col-9 genre-page">
        <h1 class="h1">Top movies about: {{ keyword.name }}</h1>
        {% include 'FrontendBundle:Widget:topListing.html.twig'  with {'size': 'medium'} %}
    </article>
    <aside class="col-3">
        {{ render(controller('FrontendBundle:Widget:movieOfTheMonth')) }}
        <hr>
        {{ render(controller('FrontendBundle:Widget:noveltyOfTheMonth')) }}
    </aside>
{% endblock %}