<div class="card c-card-carousel">
    <a href="{{ path(context,{'slug': person.slug}) }}" class="c-card-carousel__movie-link">
    {% if person.thumbnail == false %}
        <img class="card-img-top c-card-carousel__movie-link-image"
             src="{{ asset('images/cast/0.png') }}"
             alt="Card image {{ context }}">
    {% else %}
        <img class="card-img-top c-card-carousel__movie-link-image"
             src="{{ asset('images/'~ context ~'/' ~ person.id ~ '.jpg') }}"
             alt="Card image {{ context }}">
    {% endif %}
        </a>
    <div class="card-body c-card-carousel__info">
        <h5 class="c-card-carousel__info-title card-title h5">{{ person.name }}</h5>
    </div>
</div>