<div class="card c-card-carousel">
    <a href="{{ path('movie',{'slug': movie.slug}) }}" class="c-card-carousel__movie-link">
        <img class="card-img-top c-card-carousel__movie-link-image" src="{{ imagePath ~ movie.id ~ '.jpg' }}"
             alt="Movie poster {{ movie.title }}">
    </a>
    <div class="card-body c-card-carousel__info">
        <h5 class="c-card-carousel__info-title card-title h5" data-toggle="tooltip" data-placement="top" title="{{  movie.title }}">
            {{ movie.title|length > 29 ? movie.title|slice(0, 29) ~ '...' : movie.title }}
        </h5>
        <p class="card-text c-card-carousel__info-text">{{ movie.storyline|length > 75 ? movie.storyline|slice(0, 75) ~ '...' : movie.storyline }}</p>
        <a href="{{ path('movie',{'slug': movie.slug}) }}" class="btn btn-sm btn-outline-dark c-card-carousel__info-cta">
        {% if (date|default(false)) %}
            Release: <small>{{ movie.released|date('d-m-Y') }}</small>
            {% else %}
            Check movie
            {% endif %}
        </a>
    </div>
</div>