<div class="card c-movie-card">
    <a href="{{ path('movie',{'slug': movie.slug}) }}" class="c-movie-card__image">
        <img class="card-img-top img-fluid" src="{{ imagePath ~ movie.id ~ '.jpg' }}"
             alt="Movie poster {{ movie.title }}">
    </a>
    <div class="card-body c-movie-card__body">
        <h5 class="h5 c-movie-card__title">{{ movie.title }}</h5>
        <p class="c-movie-card__text">{{ movie.storyline|length > 70 ? movie.storyline|slice(0, 70) ~ '...' : movie.storyline }}</p>
        <a href="{{ path('movie',{'slug': movie.slug}) }}" class="btn btn-sm btn-outline-dark">Check movie</a>
    </div>
</div>