{% if ( data[0] is defined) %}
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            {% for key in data[0]|keys %}
                <th>{{ key|capitalize }}</th>
            {% endfor %}
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                {% for field in row %}
                    {% if field.timezone is defined and field.nonExistingProperty is not defined %}
                        <td>{{ field|date('m/d/Y') }}</td>
                    {% else %}
                        <td>
                            {% if (field == false) %}
                                0
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
                <th>
                    {% for action in actions %}
                        <a href="{{ path(action,{'id': row.id}) }}" class="btn
                {% if 'edit' in action %}btn-warning btn-sm">Edit</a>{% endif %}
                        {% if 'delete' in action %}btn-danger btn-sm">Delete</a>{% endif %}
                    {% endfor %}
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}