.c-carousel {
  margin: 0 0 $margin 0;
}
//.c-carousel {
//  margin: $margin 0 ;
//  .slick-slide {
//    margin: 0 $margin/2;
//  }
//}
//.c-carousel-people {
//  &.c-carousel-no-slick{
//    .c-card-carousel {
//      max-width: 194px;
//    }
//  }
//  .c-movie-card__image {
//    height: 12em;
//    display: block;
//  }
//  .card-body {
//    height: 100px;
//  }
//}
//.c-card-carousel {
//  height: auto;
//
//  &__movie-link {
//    height: 12em;
//
//  }
//  &__image {
//    display: block;
//    max-width: 100%;
//  }
//  &__info {
//    display: flex;
//    flex-flow: column nowrap;
//    justify-content: space-between;
//    height: 250px;
//  }
//  &__text {
//    font-size: $font-size-paragraph;
//  }
//}
