.c-carousel-slick-large {
  .slick-slide {
    margin: 0 $margin/2;
  }
  .c-card-carousel {
    width: 200px;
    height: 550px;
    &__movie-link {
      display: inline-block;
      height: 300px;
    }
    &__movie-link-image {
      height:100%;
    }
    &__info {
      padding: 0.75rem;
    }
    &__info-title {
      height: 48px;
    }
    &__info-text {
      height:100px;
    }
    &__info-cta {
      width: 100%;
    }
  }
}

.c-carousel-slick-medium {
  .slick-slide {
    margin: 0 2.5px;
  }
  .c-card-carousel {
    width: 200px;
    height: 550px;
    position: relative;
    &__badge {
      position: absolute;
      top:5px;
      left: -2px;
      z-index: 10;
      font-size: 18px;
    }
    &__movie-link {
      display: inline-block;
      height: 300px;
    }
    &__movie-link-image {
      height:100%;
    }
    &__info {
      padding: 0.75rem;
    }
    &__info-title {
      height: 48px;
    }
    &__info-text {
      height:100px;
    }
    &__info-cta {
      width: 100%;
    }
  }
  &--people {
    .slick-slide {
      margin: 0 $margin/2;
    }
    .c-card-carousel {
      width: 200px;
      height: 375px;
      position: relative;
      &__movie-link {
        display: block;
        height: 265px;
        width: 100%;
      }
      &__movie-link-image {
        height:100%;
        width: 100%;
      }
      &__info {
        padding: 0.75rem;
      }
      &__info-title {
       height: auto;
      }
    }
  }
}

.c-movie-card {
  height: 530px;
  &__image {
    -webkit-filter:brightness(100%);
    filter: brightness(100%);
    &:hover {
      -webkit-filter: brightness(70%);
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
      transition: all .5s ease;
    }
  }
  &__body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  &__text {
    font-size: $font-size-paragraph;
  }
}