// Margins
@each $side in all, top, right, bottom, left {
  @if $side == all {
    .m-#{$side} {
      margin: $margin;
    }
  } @else {
    .m-#{$side} {
      margin-#{$side}: $margin;
    }
  }
}
// Paddings
@each $side in all, top, right, bottom, left {
  @if $side == all {
    .p-#{$side} {
      padding: $padding;
    }
  } @else {
    .p-#{$side} {
      padding-#{$side}: $padding;
    }
  }
}

// Force no paddings
// Paddings
@each $side in all, top, right, bottom, left {
  @if $side == all {
    .no-padding-#{$side} {
      padding: 0;
    }
  } @else {
    .no-padding-#{$side} {
      padding-#{$side}: 0;
    }
  }
}

// Force no paddings only desktop
@each $side in all, top, right, bottom, left {
  @if $side == all {
    .no-padding-#{$side}-desktop {
      padding: initial;
      @media (min-width: $screen-sm) {
        padding: 0;
      }
    }
  } @else {
    .no-padding-#{$side}-desktop {
      padding-#{$side}: initial;
      @media (min-width: $screen-sm) {
        padding-#{$side}: 0;
      }
    }
  }
}

.txt-center {
  text-align: center;
}

.clear {
  clear: both;
  height: 0;
  padding: 0;
  margin: 0;
}
.header-divider {
  display: table;
  width: 100%;
  margin: 10px 0;

  & > span {
    background: url(images/black_pixel.jpg) center center repeat-x scroll;
    width: 3%;
    display: table-cell;
  }
  & > .header-divider-text{
    width: 1%;
    display: table-cell;
    text-align: center;
    padding: 0 $padding/4;
    white-space: nowrap;
  }
}

