h1{
  &.h1 {
    @include font-primary-bold();
    display: block;
  }
}

h2{
  &.h2 {
    @include font-primary-bold();
  }
}

h3{
  &.h3 {
    @include font-primary-bold();
  }
}

h4{
  &.h4 {
    @include font-primary-bold();
  }
}

h5{
  &.h5 {
    @include font-primary-bold();
  }
}

h6{
  &.h6 {
    @include font-primary-bold();
  }
}