.navbar {
  &.bg-inverse {
    background-color: #292b2c!important;
    color: $white;
  }
  .navbar-brand {
    font-family: BenchNine,sans-serif;
    font-size: 25px;
    line-height: 25px;
    color: $white;
  }
  .nav-link {
    color: $white;
  }
}