//GENRE
.genre-page {
  padding: $padding $padding*1.5;
  box-sizing: border-box;
}
// CAST
.cast-page {
  &__poster {
    padding: 0 0 $padding 0;
    box-sizing: border-box;
    height: auto;
    margin: -2rem 0 0 -$grid-gutter-width/2;
  }
}
.p-movie {
  background-color: $white;
  border: 1px solid #f1f1f1;
  border-bottom: none;
  opacity: 1;
  border-radius: 5px;
  box-shadow: 0 1px 8px 0 #f1f1f1;
  margin: 20% 0 1px 0;
  color: black;

  .movie-poster {
    padding: 0 0 $padding 0;
    box-sizing: border-box;
    height: auto;
    margin: -2rem 0 0 -$grid-gutter-width/2;
  }
  .casting, .writer, .director, .film {
    margin: 0 $margin 0 0;
  }
}
.p-search {
  margin: $margin 0;
}