.c-scores {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  .score {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      margin: 0 $margin/2 0 0;
    }
    .score-logo {
      width: auto;
      height: 48px;
      display: inline-block;
      margin: 0 auto;
    }
    .score-number {
      font-size: 20px;
      font-weight: bold;
      display: inline-block;
      margin: 0 auto;
    }
    .listed-in {
      > a {
        margin-bottom: $margin/4;
      }
    }
  }
}