.c-search {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
  div:first-of-type {
    flex-grow: 1;
  }
  &__search {
    border: none;
    outline: none;
    border-radius: 0;
    background-color: $white;
    opacity: 0.4;
    height: calc(2.25rem + 2px);
    &:hover,
    &:active,
    &:focus {
      border: none;
      box-shadow: none;
      outline: none;
    }
    &:placeholder-shown,
    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder {
      font-style: italic;
    }
  }
  &__context {
    border: none;
    outline: none;
    border-radius: 0;
    background-color: $white;
    opacity: 0.4;
    &:hover,
    &:active,
    &:focus {
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
  &__submit {
    border-radius: 0;
  }
}

// Search results
.c-search-results {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;

  .card {
    width: 200px;
    margin-bottom: $margin;
  }
}