@mixin font-primary-light() {
  font-family: $font-primary;
  font-weight: 200;
}

@mixin font-primary-normal() {
  font-family: $font-primary;
  font-weight: 400;
}

@mixin font-primary-bold() {
  font-family: $font-primary;
  font-weight: 700;
}

