//̣CUSTOM
$margin: 20px;
$padding: $margin;
// FONT FAMILY
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Raleway', sans-serif;
$font-family-footer: 'Six Caps', sans-serif;
// FONT SIZE
$font-size-paragraph:  14px;