{% extends 'backend.html.twig' %}
{% block mainBodyTitle %}Dashboard{% endblock %}
{% block mainBodySubtitle %}{% endblock %}
{% block mainBodySection %}
    <div class="row">
        <div class="col-12">
        <div class="form-inline my-2 my-lg-0">
            {{ form_start(form) }}
            {{ form_label(form.search) }}
            {{ form_errors(form.search) }}
            {{ form_widget(form.search) }}
            {{ form_widget(form.submit) }}
            {{ form_end(form) }}
        </div>
        </div>
    </div>
    <div class="row">
        <hr class="hr">
    </div>

    {% include ':common:_table.html.twig' %}
{% endblock %}