<h2 class="h2">{{ context|capitalize }}</h2>
<section class="c-carousel">
    <div class="c-carousel-slick-small c-carousel-people">
        {% for person in people %}
            {% include ':common:_card-person.html.twig'
            with {'person': person, 'context': context } %}
        {% endfor %}
    </div>
</section>