{% extends '::frontend.html.twig' %}
{% set titleLimit = 20 %}
{% set textLimit = 65 %}
{% block topNavbar %}
    {{ parent() }}
    <style>
        div.bg:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            z-index: -1;
            display: block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50px;
            background-image: url("/images/screenshot/movie/{{ screenshot }}.jpg");
            will-change: opacity;
            transition: filter 1s;
            height: 640px;
        }
    </style>
{% endblock %}
{% block mainBody %}
    <article class="col-12 cast-page">
        <div class="row">
            <div class="col-3">
                <div class="cast-page__poster">
                    <img src="/images/cast/{{ cast.id }}.jpg" alt="cast poster {{ cast.name }}" class="img-fluid">
                </div>
            </div>
            <div class="col-9">
                <h1 class="h1 p-top">{{ cast.name|default('-') }}</h1>
                <p>{{ cast.biography|default('-') }}</p>
            </div>
        </div>
    </article>
        <aside class="col-9">
            {% if (filmography is not empty) %}
                <section class="c-carousel">
                    <h2 class="h2">Filmography</h2>
                    <div class="c-carousel-slick-medium">
                        {% for movie in filmography %}
                            {% include ':common:_card-carousel-listing.html.twig' %}
                        {% endfor %}
                    </div>
                </section>
            {% endif %}
        </aside>
        <aside class="col-3">
            {{ render(controller('FrontendBundle:Widget:movieOfTheMonth')) }}
            <hr>
            {{ render(controller('FrontendBundle:Widget:noveltyOfTheMonth')) }}
        </aside>
{% endblock %}