{% extends '::frontend.html.twig' %}
{% block mainBody %}
    <div class="col">
        {{ render(controller('FrontendBundle:Widget:topReleaseMonth',{'month': 0})) }}
        {{ render(controller('FrontendBundle:Widget:topMovies')) }}
        {#{{ render(controller('MovieBundle:Genre:genreTop', {'slug': 'action'})) }}#}
        {#{{ render(controller('MovieBundle:Genre:genreTop', {'slug': 'war'})) }}#}
        {#{{ render(controller('FrontendBundle:Widget:topComposers')) }}#}
    </div>
{% endblock %}
