{% extends '::frontend.html.twig' %}
{% block mainBody %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Movie Alert</h1>
            <p class="lead">Search a producer</p>
            <hr class="my-4">
            <div class="form-inline my-4 my-lg-12">
                {{ form_start(form) }}
                {{ form_label(form.search) }}
                {{ form_errors(form.search) }}
                {{ form_widget(form.search) }}
                {{ form_widget(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}
