<div class="c-movie-hype">
    <h3 class="h3">{{ title }}</h3>
    <div class="card movie-card">
        <div class="card-img-top">
            <a href="{{ path('movie',{'slug': movie.slug}) }}">
                <img class="img-fluid" src="{{ imagePath ~ movie.id ~ '.jpg' }}"
                     alt="Movie of the novelty {{ movie.title }}">
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text">{{ movie.storyline|length > 70 ? movie.storyline|slice(0, 70) ~ '...' : movie.storyline }}</p>
            <a href="{{ path('movie',{'slug': movie.slug}) }}" class="btn btn-primary">Check movie</a>
        </div>
    </div>
</div>