<section>
<h2>Top Cast</h2>
    <div class="" data-flickity='{ "cellSelector": ".carousel-cell", "cellAlign": "left", "freeScroll": "true","contain": "true", "wrapAround": "true", "pageDots": false}'>
    {% for cast in casts %}
    <div class="carousel-cell">
        <div>
            {% if (cast.thumbnail) %}
                <img class="img-fluid" src="{{ imagePath }}{{ cast.id }}.jpg" alt="{{ cast.name }} thumbnail">
            {% else %}
                <span>no thumbnail available</span>
            {% endif %}
        </div>
        <div><a href="{{ path('cast', {'slug' : cast.slug}) }}">{{ cast.name }}</a></div>
        <div>{{ cast.score }}</div>
    </div>
{% endfor %}
</div>
</section>