<div class="col-12 col-md-3">
<table class="table table-sm">
    <tbody>
{% for composer in composers %}
        <tr>
            <td><a href="{{ path('composer_view', {'slug' : composer.slug}) }}">{{ composer.name }}</a></td>
            <td>{{ composer.filmography|length }}</td>
        </tr>
{% endfor %}
        </tbody>
    </table></div>