{% if (size|default('large') == 'large') %}
    {% set titleLimit = 29 %}
    {% set textLimit = 75 %}
{% elseif (size|default('large') == 'medium') %}
    {% set titleLimit = 20 %}
    {% set textLimit = 65 %}
{% elseif (size|default('large') == 'small') %}
    {% set titleLimit = 29 %}
    {% set textLimit = 55 %}
{% endif %}
<section class="c-carousel">
    <div class="c-carousel-slick-{{ size|default('large') }}">
        {% for movie in movies %}
                {% include ':common:_card-carousel-listing.html.twig' %}
        {% endfor %}
    </div>
</section>