<section class="c-carousel">
    <h2 class="h2">{{ title }}</h2>
    <div class="c-carousel-slick-{{ size|default('large') }}">
        {% for movie in movies %}
                {% include ':common:_card-carousel.html.twig' %}
        {% endfor %}
    </div>
</section>