{% extends '::frontend.html.twig' %}
{% block topNavbar %}
    {{ parent() }}
    <style>
        div.bg:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            z-index: -1;
            display: block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50px;
            background-image: url("/images/screenshot/movie/{{ movies[0].id }}.jpg");
            will-change: opacity;
            transition: filter 1s;
            height: 640px;
        }

        div.bg {
            box-shadow: 0px 5px 15px 0px {{ '#'~bg.hex|default('f1f1f1') }};
            border-bottom: 1px solid {{'#'~bg.hex|default('f1f1f1') }};
            height: 640px;
            background: -moz-linear-gradient(top, rgba({{ bg.r|default(79) }}, {{ bg.g|default(99) }}, {{ bg.b|default(109) }}, 0.3) 0%, rgba({{ bg.r|default(79) }}, {{ bg.g|default(99) }}, {{ bg.b|default(109) }}, 0.7) 80%);
            background: -webkit-linear-gradient(top, rgba({{ bg.r|default(79) }}, {{ bg.g|default(99) }}, {{ bg.b|default(109) }}, 0.3) 0%, rgba({{ bg.r|default(79) }}, {{ bg.g|default(99) }}, {{ bg.b|default(109) }}, 0.7) 80%);
            background: linear-gradient(to bottom, rgba({{ bg.r|default(79) }}, {{ bg.g|default(99) }}, {{ bg.b|default(109) }}, 0.3) 0%, rgba({{ bg.r|default(79) }}, {{ bg.g|default(99) }}, {{ bg.b|default(109) }}, 0.7) 80%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{{ bg.hex|default('f1f1f1') }}', endColorstr='#{{ bg.hex|default('f1f1f1') }}', GradientType=0);
        }
    </style>
{% endblock %}
{% block mainBody %}
    <article class="col-9 genre">
        <h1 class="h1">{{ title }}</h1>
        <div class=""
             data-flickity='{ "cellSelector": ".genre-movie", "cellAlign": "left", "freeScroll": true,"contain": true, "wrapAround": true, "pageDots": false}'>
            {% for movie in movies %}
                <div class="genre-movie">
                    {% if movie.poster == false %}
                        <img class="img-fluid"
                             src="{{ asset('images/movie/0.png') }}"
                             alt="Card image cap" style="width: 214px;height: 317px">
                    {% else %}
                        <img class="img-fluid"
                             src="{{ asset('images/movie/' ~ movie.id ~ '.jpg') }}"
                             alt="Card image cap">
                    {% endif %}
                    <div class="k">
                        <h4 class="tle">{{ movie.title }}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </article>
    <aside class="col-3">
        {{ render(controller('FrontendBundle:Widget:movieOfTheMonth')) }}
        <hr>
        {{ render(controller('FrontendBundle:Widget:noveltyOfTheMonth')) }}
    </aside>
{% endblock %}