{% extends '::frontend.html.twig' %}
{% block topNavbar %}
    {{ parent() }}
    <style>
        div.bg:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            z-index: -1;
            display: block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50px;
            background-image: url("/images/screenshot/writer/{{ writer.id }}.jpg");
            will-change: opacity;
            transition: filter 1s;
            height: 640px;
        }
    </style>
{% endblock %}
{% block mainBody %}
    <article class="col-12">
        <div class="row">
            <div class="col-3">
                <div class="writer-poster">
                    <img src="/images/writer/{{ writer.id }}.jpg" alt="writer poster {{ writer.name }}" class="img-fluid">
                </div>
            </div>
            <div class="col-9">
                <h1 class="h1 p-top">{{ writer.name|default('-') }}</h1>
                <p>{{ writer.biography|default('-') }}</p>
            </div>
        </div>
    </article>
    <aside class="col-10">

        {% if (filmography is not empty) %}
            <div class="row">
                <div class="col-12">
                    <h2 class="h2">Filmography</h2>
                    <section class="c-carousel">
                        <div class="c-carousel-slick c-carousel-movie">
                            {% for movie in filmography %}
                                {% include ':common:_card-movie.html.twig' %}
                            {% endfor %}
                        </div>
                    </section>S
                </div>
            </div>
        {% endif %}
    </aside>
    <aside class="col-2">
        {{ render(controller('FrontendBundle:Widget:movieOfTheMonth')) }}
        <hr>
        {{ render(controller('FrontendBundle:Widget:noveltyOfTheMonth')) }}
    </aside>
{% endblock %}