<div class="score">
    {% if (image is null) %}
        <span class="score-logo">{{ alt }}: </span>
    {% else %}
        <img src="{{ image}}" class="score-logo" alt="{{ alt }}">
    {% endif %}
    <span class="score-number" data-stop="{{score }} " data-decimals="{{ decimals }}">0</span>
</div>