{% extends '::frontend.html.twig' %}
{% block topNavbar %}
    {{ parent() }}
    <style>
        div.bg:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            z-index: -1;
            display: block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50px;
            background-image: url("/images/screenshot/movie/{{ movie.id }}.jpg");
            will-change: opacity;
            transition: filter 1s;
            height: 640px;
        }
    </style>
{% endblock %}
{% block mainBody %}
    <article class="col-12">
        <div class="row">
            <div class="col-3">
                <div class="movie-poster">
                    <img src="/images/movie/{{ movie.id }}.jpg" alt="movie poster {{ movie.title }}" class="img-fluid">
                </div>
            </div>
            <div class="col-6 p-top">
                <h1 class="h1">{{ movie.title|default('-') }}
                </h1>
                <p>{{ movie.plot|default('-') }}</p>
                <p><h6 class="h6">Genres</h6>
                {% for genre in movie.genre %}
                    <a href="{{ path('genre_top', {'slug': genre.slug}) }}"
                       class="btn btn-outline-primary btn-sm">
                        <span class="tag tag-primary">{{ genre.name }} </span>
                    </a>
                {% endfor %}
                </p>
                {% include 'MovieBundle:Movie:_headers.html.twig'
                with {'header': 'h5', 'title': 'Scores' } %}
                <div class="c-scores">
                    {% include 'MovieBundle:Movie:_score.html.twig'
                    with {'image':  null, 'alt': 'Top Score' ,'decimals': 2, 'score':movie.score|default('-') } %}
                    {% include 'MovieBundle:Movie:_score.html.twig'
                    with {'image':  asset('images/logos/imdb.png'), 'alt': 'imdb logo' ,'decimals': 1, 'score': movie.imdbScore|default('-') } %}
                    {% include 'MovieBundle:Movie:_score.html.twig'
                    with {'image':  asset('images/logos/Rotten_Tomatoes_icon.png'), 'alt': 'rotten tomatoes logo' ,'decimals': 0, 'score': movie.rottenTomatoesScore|default('-') } %}
                    {% include 'MovieBundle:Movie:_score.html.twig'
                    with {'image':  asset('images/logos/Metacritic.png'), 'alt': 'Metacritic logo' ,'decimals': 0, 'score': movie.metacriticScore|default('-') } %}
                </div>
            </div>
            <div class="col-3 p-top">
                <h6 class="h6">Year</h6>
                <p>
                {{ movie.year|default('-') }} <small>({{ movie.released|date('d/m/Y')|default('') }})</small>
                </p>
                <p><h6 class="h6">Duration</h6>{{ movie.duration|default('-') }} minutes</p>
                <p><h6 class="h6">Release info</h6> {{ movie.releaseInfo|default('-') }}</p>
                {% if (movie.rating is not null) %}
                    <p><h6 class="h6">Rating</h6>{{ movie.rating|default('-') }}</p>
                {% endif %}
                {% if (movie.awards is not null) %}
                    <p><h6 class="h6">Awards</h6>{{ movie.awards|default('-') }}</p>
                {% endif %}
                <p><h6 class="h6">Budget</h6>{{ movie.budget|localizedcurrency('USD')|default('-') }}</p>
                <p><h6 class="h6">Revenue</h6>{{ movie.revenue|localizedcurrency('USD')|default('-') }}</p>
            </div>
        </div>
    </article>
    <aside class="col-9">
        <div class="row">
            <div class="col-12">
                {% if (movie.trailer is not empty) %}
                    <h6 class="h6">Trailer</h6>
                    <div class="col-12">
                        <button type="button" class="btn btn-outline-info btn-sm js-modal-btn" data-video-id="{{ movie.trailer }}">
                            Check Trailer
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if (movie.keyword is not empty) %}
            <div class="row">
                <div class="col-12">
                    {% include 'MovieBundle:Movie:_headers.html.twig'
                    with {'header': 'h5', 'title': 'Listed in' } %}
                    <p class="listed-in">
                        {% for keyword in movie.keyword %}
                            <a href="{{ path('keyword_top', {'slug': keyword.slug}) }}"
                               class="badge badge-light">
                                <span class="tag tag-primary">{{ keyword.name }} </span>
                            </a>
                        {% endfor %}
                    </p>
                </div>
            </div>
        {% endif %}

        {% if (movie.character is not empty) %}
            <div class="row">
                <div class="col-12">
                    <h2 class="h2">Casting</h2>
                    <section class="c-carousel">
                        <div class="c-carousel-slick-medium c-carousel-slick-medium--people">
                            {% for character in movie.character %}
                                {% include ':common:_card-person.html.twig'
                                with {'person':  character.cast, 'context': 'cast' } %}
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
        {% endif %}
        <div class="row">
            {% if (movie.director is not empty) %}
                <div class="col-6">
                <h2 class="h2">
                    Director
                </h2>
                <section class="c-carousel">
                    <div class="c-carousel-slick-small c-carousel-slick-medium--people">
                        {% for director in movie.director %}
                            {% include ':common:_card-person.html.twig'
                            with {'person':  director, 'context': 'cast' } %}
                        {% endfor %}
                    </div>
                </section>
               </div>
            {% endif %}
            {% if (movie.writer is not empty) %}
                <div class="col-6">
                    <h2 class="h2">
                        Writer
                    </h2>
                    <section class="c-carousel">
                        <div class="c-carousel-slick-small c-carousel-slick-medium--people">
                            {% for writer in movie.writer %}
                                {% include ':common:_card-person.html.twig'
                                with {'person':  writer, 'context': 'cast' } %}
                            {% endfor %}
                        </div>
                    </section>
                </div>
            {% endif %}
        </div>
    </aside>
    <aside class="col-3">
        {{ render(controller('FrontendBundle:Widget:movieOfTheMonth')) }}
        <hr>
        {{ render(controller('FrontendBundle:Widget:noveltyOfTheMonth')) }}
    </aside>
{% endblock %}