{% extends '::frontend.html.twig' %}
{% block mainBody %}
    <div class="col">
        {% if (data is null) %}
            <h1 class="h1">Search movies, actors, actress or whatever you want</h1>
        {% else %}
            <h1 class="h1">Search results for: {{ data.search }}</h1>
            {% if (data.results is empty) %}
                <p>It looks like I could not find nothing about {{ data.search }}</p>
            {% else %}
                <section class="c-search-results">
                    {% for movie in data.results %}
                        {% include ':common:_card-movie.html.twig' %}
                    {% endfor %}
                </section>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}